<!-- login form -->
<form class="login-form">
    <div>
        <label for="email-login">email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="pw-login">password:</label>
        <input type="password" id="pw-login" />
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>

<!-- sign up/register form -->
<form class="reg-form">
    <div>
        <label for="username-reg">username:</label>
        <input type="text" id="username-reg" />
    </div>
    <div>
        <label for="email-reg">email:</label>
        <input type="text" id="email-reg" />
    </div>
    <div>
        <label for="pw-reg">password:</label>
        <input type="password" id="pw-reg" />
    </div>
    <div>
        <button type="submit">register</button>
    </div>
</form>

<!-- link to login js -->
<script src="/code/login.js"></script>